nz-select, nz-date-picker{
  width: 90%;
}


.green {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  background: #26a69a;
  font-weight: 600;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 9px 14px 8px 14px;

}
.green:hover {
  background: #3a878a;
  color: #ffffff;
  box-shadow: 0 3px 6px rgb(0 0 0 / 20%), 0 3px 6px rgb(0 0 0 / 26%);

}
.default {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  background: #df2e2e;
  font-weight: 600;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 9px 14px 8px 14px;
}
.default:hover {
  background: #9e2d36;
  color: #ffffff;
  box-shadow: 0 3px 6px tgb(0 0 0 / 20%),0 3px 6px rgb(0 0 0 / 26%);
}
.dashed {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  background: #c5c34e;
  font-weight: 600;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 9px 14px 8px 14px;
}
.dashed:hover{
background: #ad962e;
  color: #ffffff;
  box-shadow: 0 3px 6px tgb(0 0 0 / 20%),0 3px 6px rgb(0 0 0 / 26%);
}
.text {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
  background: #a1a19e;
  font-weight: 600;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 9px 14px 8px 14px;
}
.text:hover{
background: #727271;
  color: #ffffff;
  box-shadow: 0 3px 6px tgb(0 0 0 / 20%),0 3px 6px rgb(0 0 0 / 26%);
}

