[nz-collapse] {
  background: white;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;

}
[nzHeader] {
  color: white
}
nz-select {
  width: 90%;
}
.limit {
  width: 90%;
}
.msgh {
  width: 96%;
}

